.login
{
	height: 400px;
	width: 400px;
	background-color: white;
	backdrop-filter: blur(10px);
	z-index: 999;
	/*position: absolute;*/
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding: 20px;
}