body
{
	background-color: #BDD4DE;
	margin: 0;
	font-family: Helvetica;
}

.wrap
{
	margin-left: 270px;
	padding-top: 100px;
}

.orange
{
	color: #FF530D;
}

.body-color
{
	color: #BDD4DE;
}

.blue1
{
	color: #2B3A42;
}

.red
{
	color: red !important;
}

.border {
	border: 1px solid black;
}

canvas
{
	display: none;
}

.fdp
{
	position: absolute;
	z-index: 1;
}

video
{
	display: block;
	float: left;
	position: relative;
	/*z-index: -0;*/
	/* flips video (mirror effect) */
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
#startbutton {
	background: #FF530D;
	border: none;
	color: #2B3A42;
	margin: 100px 20px 20px 20px;
	padding: 10px 20px;
	font-size: 20px;
}
#container {
	overflow: hidden;
	width: 880px;
	margin: 20px auto;
}


/* PHOTO.PHP */

/*.actions:child {*/
/*}*/

.like {
	display: inline-block;
	cursor: pointer;
}

.comment {
	display: inline-block;
}